<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.studentguide.android.olevelemath">

    <compatible-screens>
        <!-- all small size screens -->
        <screen android:screenSize="small" android:screenDensity="ldpi" />
        <screen android:screenSize="small" android:screenDensity="mdpi" />
        <screen android:screenSize="small" android:screenDensity="hdpi" />
        <screen android:screenSize="small" android:screenDensity="xhdpi" />
        <screen android:screenSize="small" android:screenDensity="480" />
        <screen android:screenSize="small" android:screenDensity="640" />

        <!-- all normal size screens -->
        <screen android:screenSize="normal" android:screenDensity="ldpi" />
        <screen android:screenSize="normal" android:screenDensity="mdpi" />
        <screen android:screenSize="normal" android:screenDensity="hdpi" />
        <screen android:screenSize="normal" android:screenDensity="xhdpi" />
        <screen android:screenSize="normal" android:screenDensity="480" />
        <screen android:screenSize="normal" android:screenDensity="560" />
        <screen android:screenSize="normal" android:screenDensity="640" />
        <screen android:screenSize="normal" android:screenDensity="420" />
    </compatible-screens>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="my.studentguide.android.olevelemath.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="my.studentguide.android.olevelemath.Secondary3.sec3_selection" />
        <activity android:name="my.studentguide.android.olevelemath.Secondary4.sec4_selection" />
        <activity android:name="my.studentguide.android.olevelemath.Secondary3.sec3_topics_learn"
            android:screenOrientation="portrait"/>
        <activity android:name="my.studentguide.android.olevelemath.Secondary3.sec3_topics_practice" />
        <activity android:name="my.studentguide.android.olevelemath.Secondary4.sec4_topics_learn"
            android:screenOrientation="portrait"/>
        <activity android:name="my.studentguide.android.olevelemath.Secondary4.sec4_topics_practice" />
        <activity android:name="my.studentguide.android.olevelemath.Secondary3.S3topics.s3_indices_learn" />
        <activity android:name="my.studentguide.android.olevelemath.Secondary3.S3topics.quad_eqn.quad_eqn_qsn1" />
        <activity android:name="my.studentguide.android.olevelemath.Secondary3.S3topics.quad_eqn.quad_eqn_qsn2" />
        <activity android:name="my.studentguide.android.olevelemath.quad_eqn_contents" />
        <activity android:name="my.studentguide.android.olevelemath.Secondary3.S3topics.Linear_Inequality" />
        <activity android:name="my.studentguide.android.olevelemath.Secondary3.S3topics.coordinate_geo" />
        <activity android:name="my.studentguide.android.olevelemath.Secondary3.S3topics.graph_funct_learn" />
        <activity android:name="my.studentguide.android.olevelemath.Secondary3.S3topics.further_trigo_learn" />
        <activity android:name="my.studentguide.android.olevelemath.Secondary3.S3topics.app_trigo_learn" />
        <activity android:name="my.studentguide.android.olevelemath.Secondary3.S3topics.cong_n_similar_learn" />
        <activity android:name="my.studentguide.android.olevelemath.Secondary3.S3topics.arc_length_area_learn" />
        <activity android:name="my.studentguide.android.olevelemath.Secondary3.S3topics.area_vol_similar_figures_learn" />
        <activity android:name="my.studentguide.android.olevelemath.Secondary3.S3topics.geo_prop_circles_learn" />
        <activity android:name="my.studentguide.android.olevelemath.Secondary3.S3topics.practice_qsn.linear_ineq_practice" />
        <activity android:name="my.studentguide.android.olevelemath.Secondary4.s4topics.sets1" />
        <activity android:name="my.studentguide.android.olevelemath.Secondary4.s4topics.probability2" />
        <activity android:name="my.studentguide.android.olevelemath.Secondary4.s4topics.stats3" />
        <activity android:name="my.studentguide.android.olevelemath.Secondary4.s4topics.matrix4" />
        <activity android:name="my.studentguide.android.olevelemath.Secondary4.s4topics.vectors5"></activity>
    </application>

</manifest>